{% if messages %}
    {% for message in messages %}
        <div id="message" class="container">
            <div class="alert text-center alert-{{ message.tags }} alert-dismissible" role="alert">
                <button class="close" type="button" data-dismiss="alert"> 
                    <span aria-hidden="true">
                      &times;
                    </span>
                </button>
                <strong>
                    {% if message.level == DEFAULT_MEESAGE_LEVELS.ERROR %} 
                        Error
                    {% else %} 
                      {{ message.tags | title }}
                    {% endif %}
                </strong>
                {{message}}
            </div>
        </div>
    {% endfor %}
{% endif %}